/*body {
  background-color : #f2f2f2;
  color            : #f2f2f2;
  color            : #000;
  background-repeat: no-repeat;
  background-size  : 75% 50%;
  font-family      : 'Bona Nova',        serif;
  font-family      : 'Playfair Display', serif;
}*/
:root {
  --primary-font  : "Playfair Display", serif;
  --secondary-font: "Bona Nova",        serif;
}

.hero {
  /* background-image: url("photographer.jpg"); The image used */
  background-color: #f8f8f8;
  /* Used if the image is unavailable */
  height: 750px;
  /* You must set a specified height */
  /* background-position: center;  Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

p strong {
  display      : block;
  font-size    : 45px;
  margin-top   : 200px;
  margin-bottom: -15px;
  font-family  : var(--primary-font);
}

.do-more {
  max-width    : 150%;
  margin       : 70px 0 0 -312px;
  width        : 920px;
  height       : auto;
  display      : block;
  border-style : none;
  border-radius: 5px;
}

@media (max-width: 577px) {
  .hero {
    background: #f7f0f8;
  }

  .do-more {
    display: none;
    /* display: none; */
  }

  .top-hero {
    position   : absolute;
    color      : #000;
    font-size  : 24px;
    font-weight: bold;
    /* display: inline; */
    /* justify-content: start; */
  }

  .app-photo {
    display: none;
  }

  .apps {
    display   : block;
    text-align: center;
  }

  /* .do-more {
    display   : block;
    position  : absolute;
    left      : 0;
    right     : 0;
    margin    : 0 auto;
    text-align: center;
  }
  .top-hero {
    display   : block;
    position  : absolute;
    top       : 500;
    margin    : 0 auto;
    text-align: center;
  } */
}

.role {
  text-align   : center;
  margin-top   : 10px;
  margin-bottom: 20px;
  font-family  : var(--primary-font);
}

.greeting,
strong {
  font-size  : 20px;
  text-align : center;
  font-family: var(--secondary-font);
}

.contact-me {
  display        : flex;
  font-family    : var(--primary-font);
  justify-content: center;
  margin-top     : 50px;
}

.contact-me a {
  padding         : 10px 25px;
  background-color: #f0a488;
  /* background-color: #b7a297; */
  border     : none;
  font-weight: bold;
  color      : rgb(26, 38, 148);
}

/* @media (max-width: 575.98px) {  }
.about {
  margin    : 50px;
  margin-top: 90px;
} */
.about-img {
  /* justify-content: start; */
  /* margin: 60px 0 0 -310px; */
  width : 600px;
  height: 600px;
}

.hello {
  font-family: var(--primary-font);
  margin-top : 90px;
}

.info {
  font-family: var(--secondary-font);
  font-size  : 20px;
}

.app-heading, .l-connect{
  font-family: var(--primary-font);
  font-size  : 40px;
  font-weight: 600;
  margin-top : 30px;
}

.app-desc,
.connect-links {
  font-family: var(--secondary-font);
  font-size  : 18px;
}

.apps {
  margin-bottom: 50px;
}
.connect{
  font-family: var(--primary-font);
  font-size  : 25px;
  font-weight: 600;
  margin-top : 20px;
}
.l-connect{
  margin-top: 100px;
}

/* background-color: #f2f2f2; */
